<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @generator.name %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @generator.contents %>
</p>

<p>
  <strong>Type:</strong>
  <%= @generator.type %>
</p>

<%= link_to 'Edit', edit_generator_path(@generator) %> |
<%= link_to 'Back', generators_path %>
