<p id="notice"><%= notice %></p>

<h1>Dungeons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Themes</th>
      <th>Overview</th>
      <th>Dungeon type</th>
      <th>Background</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dungeons.each do |dungeon| %>
      <tr>
        <td><%= dungeon.name %></td>
        <td><%= dungeon.size %></td>
        <td><%= dungeon.themes %></td>
        <td><%= dungeon.overview %></td>
        <td><%= dungeon.dungeon_type %></td>
        <td><%= dungeon.background %></td>
        <td><%= dungeon.detail %></td>
        <td><%= link_to 'Show', dungeon %></td>
        <td><%= link_to 'Edit', edit_dungeon_path(dungeon) %></td>
        <td><%= link_to 'Destroy', dungeon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dungeon', new_dungeon_path %>
