<p id="notice"><%= notice %></p>

<h1>Table Generators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_generators.each do |table_generator| %>
      <tr>
        <td><%= table_generator.name %></td>
        <td><%= table_generator.contents %></td>
        <td><%= link_to 'Show', table_generator %></td>
        <td><%= link_to 'Edit', edit_table_generator_path(table_generator) %></td>
        <td><%= link_to 'Destroy', table_generator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table Generator', new_table_generator_path %>
