<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table_generator.name %>
</p>

<p>
  <strong>Results:</strong>
  <%= @table_generator.generate %>
</p>

<%= link_to 'Generate', table_generator_path(@table_generator) %> |
<%= link_to 'Edit', edit_table_generator_path(@table_generator) %> |
<%= link_to 'Back', table_generators_path %>
