<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dungeon_type.name %>
</p>

<p>
  <strong>Background:</strong>
  <%= @dungeon_type.background %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @dungeon_type.detail %>
</p>

<p>
  <strong>Backgrounds:</strong>
  <%= @dungeon_type.backgrounds %>
</p>

<p>
  <strong>Details:</strong>
  <%= @dungeon_type.details %>
</p>

<p>
  <strong>Connections:</strong>
  <%= @dungeon_type.connections %>
</p>

<p>
  <strong>Common areas:</strong>
  <%= @dungeon_type.common_areas %>
</p>

<p>
  <strong>Unique areas:</strong>
  <%= @dungeon_type.unique_areas %>
</p>

<p>
  <strong>Features:</strong>
  <%= @dungeon_type.features %>
</p>

<p>
  <strong>Finds:</strong>
  <%= @dungeon_type.finds %>
</p>

<p>
  <strong>Dressings:</strong>
  <%= @dungeon_type.dressings %>
</p>

<%= link_to 'Edit', edit_dungeon_type_path(@dungeon_type) %> |
<%= link_to 'Back', dungeon_types_path %>
